.footer {
  background-color: transparent;
  color: #fff;
  padding: 30px 0;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  width: fit-content;
}
